<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BookList</h1>
    <a href="/books/new">Create a New Book</a>
    <ul>
        <% for (let i = 0; i < books.length; ++i) { %>
            <div>
                <h1><%= books[i].title %></h1>
                <a href="/books/<%= books[i]._id%>">More Info</a>
            </div>
        <% } %>
    </ul>
</body>
</html>